@tailwind base;
@tailwind components;
@tailwind utilities;


.front-head{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.pexels.com/photos/5213531/pexels-photo-5213531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;

}
.stats{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.pexels.com/photos/3966847/pexels-photo-3966847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.react-multiple-carousel__arrow,.react-multiple-carousel__arrow--left{
    background-color: coral;
}